* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  background: black;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

.line2 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  border-top: 1px solid #fac9d2;
  border-left: 1px solid #fac9d2;
  width: 100%;
  height: 1px;
  z-index: -1;
}

.header {
  margin: auto;
}

.portada {
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 0;
}

.menu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  background: none;
}

.menu li {
  display: block;
  list-style: none;
  font-size: 2.5em;
  font-weight: 400;
  text-align: left;
}

.menu ul {
  text-align: center;
}

.menu a {
  display: block;
  line-height: 1em;
  color: white;
  text-decoration: none;
  line-height: 90%;
  transition: ease-in .12s;
}

.menu a:hover {
  content: '';
  opacity: 1;
  padding-left: 10px;
  color: #fac9d2;
}

.menu a:hover:after {
  content: 'ﷺ';
  opacity: 1;
  color: ghostwhite;
}

.menu a:after {
  transition: ease-in .12s;
  content: '';
  opacity: 0;
  padding-left: 8px;
}

.contenedor {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.content {
  margin: auto;
}

.content figure {
  padding-bottom: 2em;
}

.content figcaption {
  color: #fac9d2;
}

.content h3 {
  color: white;
  padding-bottom: 2em;
  font-size: 24px;
}

.content p {
  color: #fac9d2;
  font-size: 16px;
}



.footer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer a {
  color: white;
}

.footer h4 {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.footer p {
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 20px;
  text-align: justify;
}

.footer span {
  color: white;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: ease-in .1s;
}

.footer a:hover {
  color: #fac9d2;
  /*transition-timing-function: ease-in;*/
  padding: 5px;
}