* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  /* background: #686ead; */
  background: white;
  overflow-y:scroll;
  text-rendering: optimizeLegibility;
}

html {
  width: 100%;
  height: 100%;
}

.header {
  margin: auto;
}


.portada {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 78px;
  /*background: black;*/
  position: fixed;
  top: 0;
}


.menu {
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 23px;
  padding-bottom: 40px;
}

.menu li {
  display: inline-block;
  list-style: none;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  padding-left: 12px;
  letter-spacing: 8px;
}

.menu ul {
  text-align: center;
}

.menu a span {
  margin-bottom: 2em;
  color: #fac9d2;
  font-weight: 300;
}

.menu a {
  display: block;
  line-height: 1.5em;
  color: gray;
  text-decoration: none;
  /* line-height: 98%; */
  transition: ease-in .12s;

}

.menu a:hover {
  background: pink;
  content: ' ';
  opacity: 1;
  /* padding-left: 5px; */
  color: #fac9d2;
}

/* .menu a:hover:after {
  content: 'مرحبا';
  opacity: 1;
  padding-left: 6px;
  color: #aaaaaa;
} */

.menu a:after {
  transition: ease-in .12s;
  content: '';
  opacity: 0;
  /* padding-left: 8px; */
}

/* .background {
  text-align: center;
  background-image: url('../media/background.jpg');
  /* background-size: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  } */

.logotipo {
  margin: auto;
  padding-top: 70px;
  /* padding-bottom: 2vw; */
  text-align: center;
}

.logotipo img {
  margin: auto;
  /* transition: ease-in-out 1s; */
  /* width: 2000px; */
  /* width: 145vw; */
  width: 800px;
  /* max-width: 40vw; */
  transition-property: transform;
  transition-duration: 2s;
  animation-name: rotate;
  animation-duration: 360s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
  position: relative;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

.title {
  position: relative;
  z-index: -1;
}

.title h3 {
  display: inline-block;
  width: 100%;
  max-width: 900px;
}

.title h3 span {
  float: right;
  position: relative;
  display: inline-block;
  color: #fac9d2;
  font-weight: 300;
  padding-top: 65px;
  padding-bottom: 65px;
  font-size: 1.8vw;
  /*
  margin: 30px 0;
  margin-left: 838px; */
  /* font-size: 60px; */
  /* width: 100%;
  max-width: 900px; */
  text-align: right;
  line-height: 1em;
  /* transform: rotate(90deg); */
}
.contenedor {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: inherit;
}

.steban img {
  opacity: .1;
  display: block;
  padding-top: 20em;
  position: relative;
  z-index: -1;
}

.steban figcaption {
  padding-top: 15px;
  font-weight: 300;
}

.steban figcaption a {
  text-decoration: none;
  color: #fac9d2;
  transition: ease-in .1s;
}

.steban figcaption a:hover {
  padding: 5px;
}

.steban figcaption span {
  color: #aaaaaa;
}

.content {
  margin: auto;
  /* overflow: hidden; */
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #aaaaaa;
  padding-top: 15vw;
  width: 900px;
}

.content article {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 450px;
}

.content img {
  width: 450px;
  height: 450px;
}

.content p {
  display: inline-block;
  width: 450px;
  text-align: left;
  font-size: 16px;
  height: 450px;
  /* overflow: hidden; */
  /* border-left: 1px solid pink; */
  padding-left: 2em;
  margin-left: 2em;
  margin-top: 0;
  line-height: 1.5em;
  color: #fac9d2;
  font-weight: 300;
}

.content p span {
  color: #fac9d2;
  font-weight: 300;
}

.portafolio {
  position: inherit;
  font-size: 0px;
  display: flex;
  width: 110%;
  height: 1350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.portafolio img {
  position: relative;
  z-index: -2;
}

.portafolio h3 {
  width: 450px;
  height: 450px;
  position: absolute;
  margin: auto;
  font-size: 38px;
  font-weight: 300;
  /* font-style: italic; */
  padding-top: 195px;
  background: #fac9d2;
  /* letter-spacing: -2px; */
  color: #eeeeee;
  text-align: center;
  z-index: -1;
}

.trans {
  transition: ease-in .3s;
  opacity: 1;
}

.trans h3 {
  transition: ease-in .3s;
  opacity: 1;
}

.trans:hover h3 {
  opacity: 0;
}

.trans img {
  transition: ease-in .3s;
  opacity: 1;
}

.trans img:hover {
  opacity: 0;
}

.about {
  position: inherit;
  width: 900px;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.about h2 {
  font-size: 60px;
  font-weight: 300;
  padding-top: 10vw;
  padding-bottom: 5vw;
  color: #aaaaaa;
  letter-spacing: 20px;
  text-align: right;
}

.about h2 span {
  color: #fac9d2;
  font-weight: 700;
}

.about p {
  font-size: 24px;
  font-weight: 300;
  color: #fac9d2;
}

.about a {
  text-decoration: none;
  color: #aaaaaa;
  transition: ease-in .1s;
  font-weight: 300;
}

.about a:hover {
  color: #fac9d2;
  padding: 5px;
}

.about img {
  margin: auto;
  border-radius: 50%;
  margin-bottom: 5vw;
}

.textarea {
  padding-top: 10vw;
  height: 900px;
  margin: auto;
  z-index: -1;
}

.textarea p {
  margin: auto;
  width: 900px;
  font-size: 24px;
  font-weight: 300;
  color: #aaaaaa;
}

.line {
  border-bottom: 1px solid #fac9d2;
  margin:auto;
  margin-top: 22em;
  width: 100%;
}

.line2 {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  border-top: 2px solid #fac9d2;
  width: 100%;
  z-index: 99;
}

.footer {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}

.footer a {
  color: #aaaaaa;
}

.footer h4 {
  color: #fac9d2;
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.footer p {
  color: #fac9d2;
  /* font-size: 1.2vw; */
  font-weight: 300;
  padding-bottom: 20px;
  text-align: justify;
}

.footer span {
  color: #aaaaaa;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  font-size: 0.8em
  font-weight: 300;
  letter-spacing: 1px;
  transition: ease-in .1s;
  line-height: 1em;
}

.footer a:hover {
  color: #fac9d2;
  padding: 5px;
}
