* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  background: black;
  overflow-y:scroll;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

.header {
  margin: auto;
}

.background {
  text-align: center;
  background-image: url('../media/background.jpg');
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: center;
}

.portada {
  margin: 0 auto;
  padding: 0;
}

.logotipo {
  position: relative;
  margin: auto;
  display: block;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}

.logotipo img {
  margin: auto;
  /* transition: ease-in-out 1s; */
  width: 100%;
  max-width: 40vw;
  transition-property: transform;
  transition-duration: 2s;
  animation-name: rotate;
  animation-duration: 64s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* .logotipo img:hover {
 transform: scale(0.6,2);
} */

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

.menu {
  display: block;
  position: fixed;
  left: 0;
  top: 1vw;
  background: none;
}

.menu li {
  display: block;
  list-style: none;
  font-size: 1.8vw;
  font-weight: 300;
  text-align: left;
}

.menu ul {
  text-align: center;
}

.menu a span {
  /* display: block; */
  margin-bottom: 1em;
  /* opacity: .8; */
  color: #fac9d2;
  font-weight: 300;
}

.menu a {
  display: block;
  line-height: 1.08em;
  color: ghostwhite;
  text-decoration: none;
  /* line-height: 98%; */
  transition: ease-in .12s;

}

.menu a:hover {
  content: '';
  opacity: 1;
  /* padding-left: 5px; */
  color: #fac9d2;
}

.menu a:hover:after {
  content: 'مرحبا';
  opacity: 1;
  padding-left: 6px;
  color: ghostwhite;
}

.menu a:after {
  transition: ease-in .12s;
  content: '';
  opacity: 0;
  /* padding-left: 8px; */
}

.title {
  text-align: left;
}

.title h1{
  color: ghostwhite;
  width: 100%;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.17em;
  text-align: left;
  width: 100%;
  max-width: 900px;
}

.title p {
  font-size: 13px;
  font-weight: 500;
  color: ghostwhite;
}

.title span {
  color: #fac9d2;
  font-weight: 700;
}

.contenedor {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.steban img {
  display: block;
  padding-top: 20em;
}

.steban figcaption {
  font-style: italic;
  padding-top: 15px;
  color: #fac9d2;
}

.content {
  margin: auto;
  overflow: hidden;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: ghostwhite;
  padding-top: 15vw;
  width: 900px;
}

.content article {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 450px;
}

.content img {
  width: 450px;
  height: 450px;
}

.content p {
  display: inline-block;
  width: 450px;
  text-align: left;
  font-size: 16px;
  height: 450px;
  overflow: hidden;
  border-left: 1px solid pink;
  padding-left: 2em;
  margin-left: 2em;
  margin-top: 0;
}

.portafolio {
  font-size: 0px;
  display: flex;
  width: 110%;
  height: 1350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.trans {
  transition: ease-in .3s;
  opacity: 1;
}

.trans h3 {
  transition: ease-in .3s;
  opacity: 0;
}

.trans:hover h3 {
  opacity: 1;
}

.trans img {
  transition: ease-in .3s;
  opacity: 1;
}

.trans img:hover {
  opacity: 0;
}

.about {
  width: 900;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.about h2 {
  font-size: 60px;
  font-weight: 400;
  padding-top: 10vw;
  padding-bottom: 5vw;
  color: ghostwhite;
  letter-spacing: 20px;
}

.about p {
  font-size: 24px;
  font-weight: 300;
  color: #fac9d2;
}

.about a {
  text-decoration: none;
  color: ghostwhite;
  transition: ease-in .1s;
  font-weight: 300;
}

.about a:hover {
  color: #fac9d2;
  padding: 5px;
}

.about img {
  margin: auto;
  border-radius: 50%;
  margin-bottom: 5vw;
}


.portafolio h3 {
  width: 450px;
  height: 450px;
  position: absolute;
  margin: auto;
  font-size: 36px;
  font-weight: 400;
  /* font-style: italic; */
  padding-top: 195px;
  background: #fac9d2;
  letter-spacing: -2px;
  color: ghostwhite;
  text-align: center;
}

.blog {
  height: 800px;
  margin: auto;
}

.blog p {
  margin: auto;
  width: 900px;
  font-size: 24px;
  font-weight: 300;
  color: ghostwhite;
}

.line {
  border-bottom: 1px solid #fac9d2;
  margin:auto;
  margin-top: 15em;
  width: 100%;
}

.line2 {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  border-top: 3px solid #fac9d2;
  width: 100%;
  z-index: 99;
}

.footer {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 30px;
}

.footer a {
  color: ghostwhite;
}

.footer h4 {
  color: #fac9d2;
  font-size: 15px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.footer p {
  color: #fac9d2;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 20px;
  text-align: justify;
}

.footer span {
  color: ghostwhite;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: ease-in .1s;
}

.footer a:hover {
  color: #fac9d2;
  padding: 5px;
}
