* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  background: black;
  overflow-y:scroll;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

.header {
  margin: auto;
}

.background {
  text-align: center;
  background-image: url('../media/background.jpg');
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: center;
}

.portada {
  margin: 0 auto;
  padding: 0;
}

.logotipo {
  position: relative;
  margin: auto;
  display: block;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}

.logotipo img {
  /*float: left;*/
  margin: auto;
  transition: ease 1.25s;
  width: 100%;
  max-width: 40vw;
}

.logotipo img:hover {
  /*transform: rotate(180deg) scale(0.7);*/
  transform: rotate(180deg)
}


.menu {
  display: block;
  position: fixed;
  left: 0;
  top: 3px;
  background: none;
}

.menu li {
  display: block;
  list-style: none;
  font-size: 2vw;
  font-weight: 400;
  text-align: left;
}

.menu ul {
  text-align: center;
}

.menu a {
  display: block;
  line-height: 1em;
  color: ghostwhite;
  text-decoration: none;
  line-height: 91.5%;
  transition: ease-in .12s;
}

.menu a:hover {
  content: '';
  opacity: 1;
  color: #fac9d2;
}

.menu a:hover:after {
  content: 'ﷺ';
  opacity: 1;
  padding-left: 13px;
  color: ghostwhite;
}

.menu a:after {
  transition: ease-in .12s;
  content: '';
  opacity: 0;
  padding-left: 8px;
}

.title {
  text-align: left;
}

.title h1{
  color: ghostwhite;
  width: 100%;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.17em;
  text-align: left;
  width: 100%;
  max-width: 900px;
}

.title p {

  font-size: 13px;
  font-weight: 500;
  color: ghostwhite;
}

.title span {
  color: #fac9d2;
  font-weight: 700;
}

.contenedor {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* .contenedor h1 {
  font-size: 36px;
  padding-top: 20px;
} */

.portafolio {
  font-size: 0px;
  display: flex;
  width: 110%;
  height: 1350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.trans {
  transition: ease-in .3s;
  opacity: 1;
}

.trans h3 {
  transition: ease-in .3s;
  opacity: 0;
}

.trans:hover h3 {
  opacity: 1;
}

.trans img {
  transition: ease-in .3s;
  opacity: 1;
}

.trans img:hover {
  opacity: 0;
}

.about {
  width: 900;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.about h2 {
  font-size: 60px;
  font-weight: 400;
  padding-top: 10vw;
  padding-bottom: 5vw;
  color: ghostwhite;
  letter-spacing: 20px;
}

.about p {
  font-size: 24px;
  font-weight: 300;
  color: #fac9d2;
}

.about a {
  text-decoration: none;
  color: ghostwhite;
  transition: ease-in .1s;
  font-weight: 300;
}

.about a:hover {
  color: #fac9d2;
  padding: 5px;
}

.about img {
  margin: auto;
  border-radius: 50%;
  margin-bottom: 5vw;
}


.portafolio h3 {
  width: 450px;
  height: 450px;
  position: absolute;
  margin: auto;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  padding-top: 195px;
  background: #fac9d2;
  letter-spacing: -2px;
  color: black;
  text-align: center;
}

.blog {
  height: 800px;
  margin: auto;
}

.blog p {
  margin: auto;
  width: 900px;
  font-size: 24px;
  font-weight: 300;
  color: ghostwhite;
}

.line {
  border-bottom: 1px solid #fac9d2;
  margin:auto;
  margin-top: 100px;
  width: 100%;
}

.line2 {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  border-top: 2px solid #fac9d2;
  border-left: 2px solid #fac9d2;
  width: 100%;
  z-index: 99;
}

.footer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer a {
  color: ghostwhite;
}

.footer h4 {
  color: ghostwhite;
  font-size: 13px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.footer p {
  color: ghostwhite;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 20px;
  text-align: justify;
}

.footer span {
  color: ghostwhite;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: ease-in .1s;
}

.footer a:hover {
  color: #fac9d2;
  padding: 5px;
}
